<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>playground</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="gotTo('/login')">US 001: Login/ Registration Journey</ion-button>
  <ion-button expand="full" (click)="gotTo('/manifest-screen')">US 002: Vehicle Precheck Journey</ion-button>
  <ion-button expand="full" (click)="gotTo('/driver-navigator')">US 003: Delivery Journey</ion-button>
  <ion-button expand="full" (click)="gotTo('/driver-navigator')">US 004: Customer Inspection Journey</ion-button>
  <ion-button expand="full" (click)="gotTo('/driver-navigator')">US 005: Vehicle Exchange Journey</ion-button>
  <ion-button expand="full" (click)="gotTo('/driver-navigator')">US 006: Vehicle Transfer Journey</ion-button>
  <ion-button expand="full" (click)="gotTo('/driver-navigator')">US 007: Forgotten Item Journey</ion-button>
  <ion-button expand="full" (click)="gotTo('/bottom-menu')">Bottom Menu</ion-button>
  
  <!-- <ion-button expand="full" (click)="gotTo('/home')">Home</ion-button>
  <ion-button expand="full" (click)="gotTo('/scan-licence')">License Scanner</ion-button> -->
</ion-content>