<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Start VTC</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button fill="outline" (click)="newVTC()">Create New</ion-button> -->

  <div class="scanner-container" style="margin-top: 10%;">
    <video *ngIf="hasScanned" #video width="100%" height="300" autoplay muted playsinline></video>
  </div>


  <ion-input type="text" (ionChange)="loaded=false" placeholder="Vehicle Registration Number" [(ngModel)]="mvaNumber">
  </ion-input>


  <ion-row class="ion-margin-top">

    <ion-col size="4">
      <ion-button expand="block" [disabled]="mvaNumber.length < 5 || loaded==true" (click)="manual()">Proceed</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" *ngIf="!hasScanned" (click)="continue()">Scan</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" *ngIf="!hasScanned && loaded" (click)="newVTC()">Create new</ion-button>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="mvaResults?.length">
    <ion-card-header>
      <ion-card-title>VTC Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-text-center ion-padding">
          <ion-col style="text-align:left"><strong>MVA</strong></ion-col>
          <ion-col style="text-align:left"><strong>Driver</strong></ion-col>
          <ion-col style="text-align:left"><strong>Check Out</strong></ion-col>
          <ion-col style="text-align:left"><strong>Check In</strong></ion-col>
          <ion-col><strong>Actions</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let item of mvaResults">
          <ion-col>{{ item.mva }}</ion-col>
          <ion-col>{{ item.driverName }}</ion-col>
          <ion-col>
            {{ item.checkOutStationDescrtn }}<br />
            {{ item.checkOutDate }} {{ item.checkOutTime }}
          </ion-col>
          <ion-col>
            {{ item.checkInStationDescrtn }}<br />
            {{ item.checkInDate }} {{ item.checkInTime }}
          </ion-col>
          <ion-col style="text-align:center">
            <ion-button fill="outline" (click)="checkIn(item)">Check In</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="home()">
          <ion-label>Home</ion-label>
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="manifest()">
          <ion-label>Manifest</ion-label>
          <ion-icon name="calendar-number-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="transfer()">
          <ion-label>Transfer</ion-label>
          <ion-icon name="build-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="lostitem()">
          <ion-label>Lost item</ion-label>
          <ion-icon name="eye-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="logoff()">
          <ion-label>Logoff</ion-label>
          <ion-icon name="power-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>