<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>Vehicle Exchange: Accessories</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid [fixed]="false">
    <ion-row style="border-bottom: groove; margin-top: 5%; margin-bottom: 10%;">
      <ion-col size="4">Accessory</ion-col>
      <ion-col>Code</ion-col>
      <ion-col>Present</ion-col>
      <ion-col>Missing</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">User Manual</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="6">Cooler Bag/Ice Pack</ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">Umbrella</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">First Aid Kit</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">Car Mats</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">GPS Unit</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">E-Tag</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">Fuel Card</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">Baby Seat</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="6">Compressor Pump</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">V250 Table</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="4">Double Disk</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
    <br/>
    <ion-row>
      <ion-col size="6">Vehicle Repair Kit</ion-col>
      <ion-col></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
      <ion-col size="2"><ion-checkbox checked="true"></ion-checkbox></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="continue()" class="ion-margin-top-50" type="submit">
    Continue
  </ion-button>
</ion-content>
