<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>Board</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-container">
    <div class="center-content">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="ion-justify-content-center ion-align-items-center">
              <p style="text-align: center; width: 100%; color: white;"> {{currentLeg.serviceTypeDescription}}</p>
            </div>
          </ion-col>
        </ion-row><br/><br/>
        <!-- <ion-row>
          <ion-col>
            <div class="ion-justify-content-center ion-align-items-center">
              <ion-text style="text-align: center;"> {{currentLeg?.customerName}}  </ion-text>
            </div>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col>
            <ion-text  style="text-align: center;"> WELCOME {{currentLeg?.passengers.results[0]?.passengerTitle}} {{currentLeg?.passengers.results[0]?.passengerName}} </ion-text>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </div>
  </div>
  <ion-button color="dark" (click)="close()" expand="full">Close</ion-button>
</ion-content>
