<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lets get started..</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="false"> -->
  <!-- <ion-card class="ion-margin-top"> -->
    <ion-card-header class="ion-text-center" style="margin-top:25%">
      <ion-card-title>Please select an action</ion-card-title>
      
    </ion-card-header>
    <!-- <ion-card-content  > -->
      
      <ion-grid>
      
      <ion-row>
        <ion-col><ion-button color="secondary" (click)="manifest()" style="width: 80%;"  expand="full">Manifest</ion-button></ion-col><br/>
      </ion-row>
      <ion-row>
        <ion-col><ion-button color="primary" (click)="transfer()" style="width: 80%;" expand="full">VTC</ion-button></ion-col>
      </ion-row>
      </ion-grid>

        
      
    <!-- </ion-card-content>
   
  </ion-card> -->
<!-- </ion-content> -->
