<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>Vehicle Exchange</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-segment value="t1">
      <!-- <ion-segment-button value="t1"> -->
        <!-- <ion-label>Ongoing bookings</ion-label> -->
      <!-- </ion-segment-button> -->
      <!-- <ion-segment-button value="t2">
        <ion-label>Future</ion-label>
      </ion-segment-button>
      <ion-segment-button value="t3">
        <ion-label>History</ion-label>
      </ion-segment-button> -->
      <!-- <ion-list>
        <ion-item>
          <ion-select aria-label="co" placeholder="co">
            <ion-select-option value="co">CO</ion-select-option>
            <ion-select-option value="ci">CI</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list> -->
    </ion-segment>
  </ion-row>
  <div class="bookings-container ion-margin-top">
    <ion-grid>
      <ng-container *ngFor="let _booking of todaysBookings">
        <ng-container *ngFor="let booking of _booking?.legs;  let i = index">
          <ion-row>
            <ion-col>
              <ion-img
                style="width: 150px"
                [src]="booking?.vehicleDetails?.results[1]?.storageUrl?.storageUrl"
              ></ion-img>
            </ion-col>
            <ion-col style="text-align: center;">
             <div> 
              <!-- <div style="background-color: rgb(255, 77, 79); color: white; padding: 2px 8px; font-size: 20px; font-weight: bold; transform: skew(-15deg); border-radius: 3px;">  {{booking.serviceType}}</div>  -->
             <p  style="font-weight: bold; 
    font-size: 21px;">
    <!-- {{booking.serviceTypeDescription}}    -->
    {{booking.customerTitle}} {{booking.customerName}}
    </p>
    
  </div>
      
            </ion-col>
            <ion-col>
              <ion-label>
                <div style=" font-size: 35px;   margin-top: 7%;width: fit-content; background-color: rgb(255, 77, 79); color: white; padding: 2px 8px; font-weight: bold; border-radius: 3px;">
                  EX
                </div>
                </ion-label>
                </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <ion-row
                [class.confirmed-booking]="booking.status === 'Booking Confirmed'"
              >
                <ion-col>
                  <ion-label>
                    <p>
                      <!-- <span class="small-text" style="font-weight: bold; 
    font-size: 21px;"> 
    {{booking.customerTitle}} {{booking.customerName}} 
  </span> -->
                    </p>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>
                    <div style="width: fit-content; background-color: rgb(255, 77, 79); color: white; padding: 2px 8px; font-size: 12px; font-weight: bold; transform: skew(-15deg); border-radius: 3px;">PICK UP</div>
                    <p><br/>
                      <span class="small-text" style="font-weight: bold;">
                        {{booking.collectionAddress}}
                        {{booking.collectionAddress2}}
                      </span>
                    </p>
                    <p>
                      <span class="small-text" style="font-weight: bold;">
                        Time: {{booking.timeFrom}}
                      </span>
                    </p>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>
                    <div style="width: fit-content; background-color: rgb(255, 77, 79); color: white; padding: 2px 8px; font-size: 12px; font-weight: bold; transform: skew(-15deg); border-radius: 3px;">DROP OFF</div>
                    <p><br/>
                      <span class="small-text" style="font-weight: bold;">
                         {{booking.destinationAddress}}
                        {{booking.destinationAddress2}}
                      </span>
                    </p>
                    <p>
                      <span class="small-text" style="font-weight: bold;"> Time: {{booking.timeTo}} </span>
                    </p>
                    
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label *ngIf="booking.miscellaneousCharges.results.length > 0">
                    <p><span style="font-weight: bold;"> Accessories </span></p>
                    <ng-container
                      *ngFor="let accessory of booking.miscellaneousCharges.results"
                    >
                      <p>
                        <span class="xsmall-text">
                          - {{accessory.description}}
                        </span>
                      </p>
                    </ng-container>
                  </ion-label>
                  <ion-label *ngIf="booking.miscellaneousCharges.results.length == 0">
                    <p><span  style="font-weight: bold;">  No accessories </span></p>
                   
                    
                  </ion-label>
                </ion-col>
                </ion-row>
                <ion-row>
                <ion-col *ngIf="booking.remarks.results.length > 0">
                  <ion-label >
                    <p><span style="font-weight: bold;">Note: </span><span class="xsmall-text"> {{booking.remarks.results[0].remarkText}} </span></p>
                  </ion-label>
                </ion-col>
                <ion-col  *ngIf="booking.remarks.results.length == 0">
                  <ion-label>
                     <p><span   style="font-weight: bold;" class="xsmall-text">No note </span></p>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="3" style="text-align: center">
              <p
                style="
                  padding-top: 8%;
                  padding-bottom: 8%;
                  padding-left: 1%;
                  padding-right: 1%;
                  font-weight: bold;
                "
              >
              #{{booking.bookingNumber}}
              </p>
              <p>
                <span class="small-text">
                  Status: {{booking.stageStatus }}
                </span>
              </p>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button
                expand="full"
                (click)="view(booking)"
                class="action-buttons"
                >View</ion-button
              >
            </ion-col>
            <ion-col size="6">
              <ion-button
                expand="full"
                (click)="inspect(booking, _booking,booking.vehicleDetails?.results[0]?.allocationType?.trim())"
                class="action-buttons"
                >
                
                {{booking.vehicleDetails?.results[0]?.allocationType?.trim()=="BOOKING COLLECTION" ? "Begin collection" : "Begin delivery"}}
                
                </ion-button
              >
            </ion-col>
            <!-- <ion-col size="4">
              <ion-button
                expand="full"
                size="small"
                (click)="inspect(booking, _booking )"
                class="action-buttons"
                >Begin delivery</ion-button
              >
            </ion-col>-->
            <ion-col>
              <!-- <ion-button expand="full" size="small" class="action-buttons">Cancel</ion-button> -->
            </ion-col>
          </ion-row>
        </ng-container>
        <hr style="border-bottom: 1px solid whitesmoke; margin: 21px" />
      </ng-container>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="home()">
          <ion-label>Home</ion-label>
          <ion-icon           
            name="home-outline"
          ></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="manifest()">
          <ion-label>Manifest</ion-label>
          <ion-icon            
            name="calendar-number-outline"
          ></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="transfer()">
          <ion-label>Transfer</ion-label>
          <ion-icon name="build-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="lostitem()">
          <ion-label>Lost item</ion-label>
          <ion-icon  name="eye-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="logoff()">
          <ion-label>Logoff</ion-label>
          <ion-icon  name="power-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
